# Python virtual environment
venv/
__pycache__/
*.pyc

# Jupyter notebooks
*.ipynb_checkpoints/

# Backup/temp files
*~
.*.swp
.DS_Store

# Project-specific
Archive/
.~*

# Data
data/*.db

# Graph exports
export/*.graphml
export/clusters/
